body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(80, 80, 80);
  scroll-behavior: smooth;
}

.page-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  background-color: white;
  flex-direction: row;
  position: sticky;
  align-items: center;
  height: auto;
  padding: 18px 20px;
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
}

.remove-link-styling {
  text-decoration: none;
  color: black;
}

.nav-logo-brand {
  font-size: 22px;
  font-weight: 650;
  margin-right: 20px;
  letter-spacing: -0.25px;
  color: black;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.navLinkWrapper {
  display: none;
  justify-content: flex-start;
  flex-direction: row;
}
.navLinkWrapper a {
  text-decoration: none;
}

.navLink {
  font-size: 14px;
  font-weight: 500;
  color: rgb(104, 104, 104);
  margin: 0 12px;
}
.navLink a {
  text-decoration: none;
}

.new-nav-button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  text-wrap: nowrap;
  padding: 6px 12px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: 1.5px solid black;
  border-radius: 3px;
}

.new-section-hero {
  position: relative;
  overflow: hidden;
  height: 800px;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.new-hero-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  filter: brightness(92%) saturate(115%);
  background-image: url(./images/new-urlaubstracker-dW8dOC8r7O4-unsplash.jpg);
  background-position: 0% 100%;
}

.new-hero-text-group {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 136px;
  padding: 0 24px;
  z-index: 5;
  animation: floatUp 1.4s ease-out forwards;
}

.new-hero-title {
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 44px;
  text-align: left;
  color: white;
  text-decoration: none;
  margin-bottom: 12px;
  max-width: 650px;
}

.new-hero-button-group {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.new-hero-button-group a {
  text-decoration: none;
}

.new-hero-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  max-width: 280px;
  border: 1.5px solid white;
  color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  border-radius: 4px;
  padding: 9px 14px;
  background-color: rgba(0, 0, 0, 0.413);
  cursor: pointer;
}

/* Keyframes for floating-up animation */
@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(80px); /* Move the container up to its original position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move the container up to its original position */
  }
}
.performance {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  height: auto;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.performance .content {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 25px 0;
}
.performance .content h3 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 16px 0;
  text-transform: capitalize;
}
.performance .content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 0 0;
  text-transform: capitalize;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 600px 1fr;
  grid-template-areas: "introImage introImage" "introContent introContent";
  flex-direction: row;
  height: auto;
  width: 100%;
  max-width: 1440px;
  background-color: white;
}

.image {
  grid-area: introImage;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-color: rgb(107, 107, 107);
}

.content-image1 {
  background-image: url(./images/mobile-robin-worrall-FPt10LXK0cg-unsplash.jpg);
  filter: brightness(95%) saturate(105%) contrast(110%);
}

.future-content {
  grid-area: introContent;
  height: auto;
  padding: 80px 30px;
  color: black;
  text-align: center;
}
.future-content h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 32px 0;
  text-transform: capitalize;
}
.future-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 0 32px 0;
}

.page-btn {
  font-size: 13.5px;
  font-weight: 500;
  padding: 6px 20px;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  cursor: pointer;
}

.page-btn:hover {
  cursor: pointer;
}

.skills-capabilities-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  max-width: 1440px;
}

.skills-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 90px 0 180px 0;
  background-color: rgb(0, 0, 0);
  color: white;
}
.skills-section .skill-content-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}
.skills-section .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 720px;
  padding: 0 30px;
  margin-bottom: 3cqh;
}
.skills-section .content-wrapper h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 32px 0;
  text-transform: capitalize;
  text-align: center;
}
.skills-section .content-wrapper p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  margin: 0 0 32px 0;
  text-align: center;
}
.skills-section .skills-image {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  background-image: url(./images/sigmund-Fa9b57hffnM-unsplash\ \(1\).jpg);
  filter: contrast(115%);
}

.skills-capabilites-combined-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}

.capabilities {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 260px auto 260px auto 260px auto;
  grid-template-areas: "uxImage" "uxContent" "uiImage" "uiContent" "devImage" "devContent";
  height: auto;
  padding: 120px 30px 120px 30px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.capabilities .ux-content {
  grid-area: uxContent;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  height: -moz-fit-content;
  height: fit-content;
}
.capabilities .ui-content {
  grid-area: uiContent;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.capabilities .dev-content {
  grid-area: devContent;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.capabilities .ux-image {
  grid-area: uxImage;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(./images/jason-goodman-Oalh2MojUuk-unsplash\ \(1\).jpg);
  filter: brightness(100%);
  background-color: rgb(107, 107, 107);
}
.capabilities .ui-image {
  grid-area: uiImage;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(./images/alec-cooks-YNnSOFQ66Zw-unsplash.jpg);
  filter: brightness(100%);
  background-color: rgb(107, 107, 107);
}
.capabilities .dev-image {
  grid-area: devImage;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(./images/sigmund-Im_cQ6hQo10-unsplash\ \(1\).jpg);
  filter: brightness(100%);
  background-color: rgb(107, 107, 107);
}
.capabilities h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin: 32px 0 16px 0;
  text-transform: capitalize;
  color: white;
}
.capabilities p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0 0 32px 0;
  color: white;
}
.capabilities .dark-btn {
  border: 1px solid white;
  background-color: black;
  color: white;
}

.government-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px auto;
  grid-template-areas: "skill2imagewrap skill2imagewrap" "skill2Sidebar skill2Sidebar";
  min-height: auto;
  height: auto;
  min-height: 700px;
  max-width: 1440px;
  width: 100%;
  background-color: white;
}

.government-image-wrap {
  grid-area: skill2imagewrap;
  background-size: cover;
  background-position: center;
  background-color: rgb(107, 107, 107);
  background-image: url(./images/dylan-gillis-KdeqA3aTnBY-unsplash\ \(3\).jpg);
  filter: brightness(100%) saturate(105%) contrast(110%);
}

.light-bg {
  background-color: black;
}

.government-sidebar {
  grid-area: skill2Sidebar;
  padding: 40px;
  color: black;
  text-align: center;
}
.government-sidebar h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 32px 0;
  text-transform: capitalize;
}
.government-sidebar p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0 0 32px 0;
}

.contact {
  background-color: white;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.contact h4 {
  font-size: 26px;
  font-weight: 500;
  margin: 0 0 32px 0;
  padding: 0;
}
.contact p {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 32px 0;
  padding: 0;
}
.contact .skills-2-sidebar {
  padding: 40px;
}

footer {
  background-color: rgb(239, 239, 239);
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
footer p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: rgb(54, 54, 54);
}
footer ul {
  list-style-type: none;
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  flex-wrap: wrap;
}
footer ul a {
  text-decoration: none;
  margin: 0 15px 0 15px;
}
footer ul li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12.5px;
  font-weight: 500;
  color: rgb(60, 60, 60);
  margin: 8px 0;
}
footer .copyright {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: rgb(129, 129, 129);
}
footer .country-location {
  text-align: center;
  font-size: 12px;
  color: rgb(129, 129, 129);
}

@media (min-width: 1050px) {
  nav {
    height: auto;
    padding: 8px 40px;
  }
  .nav-logo-brand {
    font-size: 21px;
    width: auto;
  }
  .navLinkWrapper {
    display: flex;
    flex-direction: row;
    margin: 14px 18px;
    width: 100%;
  }
  .new-hero-title {
    width: 100%;
    font-weight: 300;
    letter-spacing: 0px;
    font-size: 52px;
  }
  .new-hero-img {
    background-size: 150%;
    background-image: url(./images/new-urlaubstracker-dW8dOC8r7O4-unsplash.jpg);
    background-position: 50% 4%;
  }
  .new-hero-text-group {
    margin-top: 90px;
    padding: 0 40px;
  }
  .new-hero-button-group {
    gap: 12px;
  }
  .new-hero-button {
    width: 100%;
    min-width: 300px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-size: 17px;
    border: 1px solid white;
  }
  .section-hero {
    height: 760px;
    padding: 0 40px;
  }
  .hero-title {
    z-index: 2;
    position: absolute;
    margin-top: 160px;
    width: 100%;
    font-size: 60px;
    letter-spacing: 0;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
  }
  .hero-img {
    height: 110%;
    width: 110%;
    background-size: cover;
    filter: brightness(60%) saturate(90%) sepia(44%);
    background-position: 50% 50%;
  }
  .stats-section {
    flex-direction: column;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 65px 0;
  }
  .stats-section .containers-wrapper {
    display: flex;
    flex-direction: row;
  }
  .stats-section .container {
    display: flex;
    flex-direction: column;
  }
  .performance {
    display: flex;
    flex-direction: row;
    padding: 70px 60px;
    color: black;
    height: auto;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .performance .content h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 22px 0;
    text-transform: capitalize;
  }
  .performance .content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 0 0;
    text-transform: capitalize;
  }
  .content-section {
    display: grid;
    grid-template-columns: 440px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "introContent introImage introImage";
    flex-direction: row;
    min-height: 800px;
    width: 100%;
  }
  .content-section .future-content {
    padding: 90px 50px 90px 40px;
    text-align: left;
  }
  .skills-section {
    padding: 180px 0 180px 0;
  }
  .capabilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "uxImage uxImage uxImage uxImage uxImage uxContent uxContent uxContent uxContent" "uiContent uiContent uiContent uiContent uiImage uiImage uiImage uiImage uiImage" "devImage devImage devImage devImage devImage devContent devContent devContent devContent";
    color: white;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 55px;
    max-width: 900px;
    margin: 90px 0 200px 0;
    text-align: left;
  }
  .capabilities .ux-image {
    grid-area: uxImage;
    height: 100%;
  }
  .capabilities .ui-image {
    grid-area: uiImage;
    height: 100%;
  }
  .capabilities .dev-image {
    grid-area: devImage;
    height: 100%;
  }
  .government-section {
    display: grid;
    grid-template-columns: 1fr 1fr 440px;
    grid-template-rows: auto;
    grid-template-areas: "skill2imagewrap skill2imagewrap skill2Sidebar";
    min-height: auto;
    height: auto;
    min-height: 800px;
    width: 100%;
    margin: 0 100px 0 100px;
    background-color: white;
  }
  .government-image-wrap {
    grid-area: skill2imagewrap;
    background-size: cover;
    background-position: center;
    background-color: rgb(107, 107, 107);
    filter: brightness(90%);
  }
  .light-bg {
    background-color: black;
  }
  .government-sidebar {
    grid-area: skill2Sidebar;
    color: black;
    padding: 110px 40px 110px 50px;
    text-align: left;
  }
  .government-sidebar h4 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.4;
    margin: 0 0 32px 0;
    text-transform: capitalize;
  }
  .government-sidebar p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 32px 0;
  }
  .contact {
    background-color: white;
    min-height: 330px;
  }
  .contact .skills-2-sidebar {
    padding: 40px;
  }
  footer {
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  footer .link-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  footer p {
    text-align: left;
  }
  footer ul {
    padding: 0;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: nowrap;
  }
  footer ul a {
    text-decoration: none;
    margin: 0 0 0 0;
  }
  footer ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12.5px;
    font-weight: 500;
    color: rgb(60, 60, 60);
    margin: 0 0 0 10px;
  }
  footer .copyright-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0 10px 0;
  }
  footer .copyright {
    text-align: left;
    margin-right: 5px;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */